In [ ]:
Billy Huang

In [ ]:
## Research question/interests

Briefly describe your research question or interests here.

In [1]:
pwd

'/Users/billywong/project-group66-project/notebooks'

In [4]:
import pandas as pd

In [14]:
dataset = pd.read_csv("projectdataset.csv")

In [12]:
dataset

,REF_DATE,GEO,DGUID,Air passenger traffic,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2008,Canada,2016A000011124,"Total, passengers enplaned and deplaned",Number,223,units,0,v65781694,100000.1,109360095.0,NaN,NaN,NaN,0
1,2008,Canada,2016A000011124,Passengers enplaned,Number,223,units,0,v65781695,100000.2,54671159.0,NaN,NaN,NaN,0
2,2008,Canada,2016A000011124,Passengers deplaned,Number,223,units,0,v65781696,100000.3,54688936.0,NaN,NaN,NaN,0
3,2008,Canada,2016A000011124,"Total, passenger sector",Number,223,units,0,v65781697,100000.4,109360095.0,NaN,NaN,NaN,0
4,2008,Canada,2016A000011124,Domestic sector,Number,223,units,0,v65781698,100000.5,68112020.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46362,2020,"Whale Cove, Nunavut",NaN,"Total, passenger sector",Number,223,units,0,v65779865,4099.4,NaN,x,NaN,NaN,0
46363,2020,"Whale Cove, Nunavut",NaN,Domestic sector,Number,223,units,0,v65779866,4099.5,NaN,x,NaN,NaN,0
46364,2020,"Whale Cove, Nunavut",NaN,Transborder sector,Number,223,units,0,v65779867,4099.6,0.0,NaN,NaN,NaN,0
46365,2020,"Whale Cove, Nunavut",NaN,Other International sector,Number,223,units,0,v65779868,4099.7,0.0,NaN,NaN,NaN,0
46366,2020,"Whale Cove, Nunavut",NaN,Passenger flights,Number,223,units,0,v65779869,4099.8,NaN,x,NaN,NaN,0